<nav class="navbar navbar-expand-lg bg-[#2b3c4d] text-white sticky-top">
  <div class="container-fluid">
    <div>
      <a routerLink="" class="mx-4">Book Shop</a>
    </div>
    <div>
      <button class="btn border-0 outline-none mx-3" (click)="toggleSearch()">
        <i class="fas fa-search text-white"></i>
      </button>
      <a routerLink="/" class="p-2 px-3 text-white rounded hover:bg-[#18bc9c] focus:outline-none focus:bg-[#118971] ">Home</a>

      <a routerLink="/cart" class="p-2 px-3 text-white rounded hover:bg-[#18bc9c] focus:outline-none focus:bg-[#118971] ">My Cart</a>

      <a routerLink="/seller" class="p-2 px-3 text-white rounded hover:bg-[#18bc9c] focus:outline-none focus:bg-[#118971] ">Seller</a>

      <ng-container *ngIf="!isAuthenticated()">

        <a routerLink="/login" class=" p-2 px-3 text-white rounded hover:bg-[#18bc9c] focus:outline-none focus:bg-[#118971]">Login</a>
        <a routerLink="/register" class=" p-2 px-3 text-white rounded hover:bg-[#18bc9c] focus:outline-none focus:bg-[#118971]">Register</a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <button (click)="logout()"
          class=" p-2 px-3 text-white rounded hover:bg-[#18bc9c] focus:outline-none focus:bg-[#118971]">
          Logout
        </button>
      </ng-container>
    </div>
  </div>
</nav>