<nav class="flex justify-between items-center p-4 bg-purple-900 text-white">
  <div>
    <a routerLink="" class="mx-4 font-bold">Book Shop</a>
  </div>
  <div class="flex items-center space-x-4">
    <div class="relative">
      <input
        type="text"
        placeholder="Search by Book Name"
        class="px-4 py-2 rounded-lg bg-purple-800 text-white focus:outline-none focus:bg-purple-700 focus:border-purple-500"
      />
      <button
        class="absolute inset-y-0 right-0 px-4 py-2 bg-purple-700 rounded-r-lg hover:bg-purple-600 focus:outline-none focus:bg-purple-600"
      >
        Search
      </button>
    </div>
    <div class="relative">
      <input
        type="text"
        placeholder="Search by Author Name"
        class="px-4 py-2 rounded-lg bg-purple-800 text-white focus:outline-none focus:bg-purple-700 focus:border-purple-500"
      />
      <button
        class="absolute inset-y-0 right-0 px-4 py-2 bg-purple-700 rounded-r-lg hover:bg-purple-600 focus:outline-none focus:bg-purple-600"
      >
        Search
      </button>
    </div>
    <a routerLink="/cart" class="mx-4">My Cart</a>
    <a routerLink="/login" class="mx-4">Login</a>
    <a routerLink="/register" class="mx-4">Register</a>
  </div>
</nav>
